.idea/
.omx/
.vscode/
.DS_Store

usc-data/

/Autobs/__pycache__/
/Autobs/.cache/
/Autobs/.mplconfig/
/Autobs/checkpoints/
/Autobs/env/__pycache__/
/Autobs/env/__init__.py
/Autobs/models/PMNet.pt
/Autobs/models/RMNet.pt
/Autobs/models/__init__.py
/Autobs/models/__pycache__/
/Autobs/outputs/
/Autobs/rl_module/__pycache__/
/Autobs/rl_module/__init__.py
!/Autobs/test/
/Autobs/test/*
!/Autobs/test/test_env_score_shape.py
/Autobs/__init__.py
/Autobs/pretrained_policy/
/Autobs/pretrained_policy_val/
/Autobs/checkpoints_score_v2_pretrained/
/Autobs/checkpoints_zonghe/
/Autobs/checkpoints_score/
/Autobs/bandit_policy/
/Autobs/bandit_policy_cov_se_switch/
/Autobs/pretrained_policy/
/Autobs/pretrained_policy_val/
/Autobs/pretrained_policy_cov_se_switch/

/dataset/

/Heuristic/__pycache__/
/Heuristic/.claw/
/Heuristic/.omx/
/Heuristic/.opencode/
/Heuristic/docs/
/Heuristic/model/
/Heuristic/outputs/
/Heuristic/test/

/Qwen/

/ReAct/__pycache__/
/ReAct/test/
/ReAct/vis/
/ReAct/outputs/
/ReAct/__init__.py

/surrogate/__pycache__/
/surrogate/ablation_result/
/surrogate/blender_scene/blender_script/
/surrogate/blender_scene/paris/__pycache__/
/surrogate/blender_scene/paris/meshes/
/surrogate/blender_scene/paris/odb/
/surrogate/blender_scene/paris/osm/
/surrogate/blender_scene/paris/output_dataset/
/surrogate/blender_scene/paris/README.md
/surrogate/checkpoints/
/surrogate/test/
/surrogate/output_pred/
/surrogate/plots/
/surrogate/all_model_summary/
/surrogate/runs/
/surrogate/vis/
